In [1]:
#program discussion, if else, for loop

In [3]:
a = 111

In [5]:
a

111

In [7]:
if a < 1:
    print("Labeeb")

In [9]:
#we use the concept of indentation in python

In [13]:
if a < 1111 :
    print("abc")
    print("pqr")

abc
pqr

In [15]:
if a < 1 :
    print("abc")
print("pqr") #removing indentation

pqr

In [17]:
#pass continue and block are used inside blocks (for loop, if else)

In [19]:
#pass:The pass statement in Python is a placeholder statement that does nothing when executed. It is typically used as a placeholder in code where a statement is syntactically required but no action is needed at that moment.

In [21]:
if a < 1:

IndentationError: expected an indented block (430069765.py, line 1)

In [23]:
if a < 1:
    pass

In [25]:
if 12 < 20:
    print("my name is labeeb")
else:
    print("Data entered is wrong")

my name is labeeb

In [27]:
name = input()
salary = int(input()) #input is always in form of string by default
if salary<500:
    print("The person can purchase a phone")
elif salary < 700:
    print("The person can buy a car")
elif salary < 900:
    print("The person will be able to buy an apartment")
else:
    print("The person will not be able to buy anything")

 Labeeb
 750

The person will be able to buy an apartment

In [35]:
total_price = int(input("Enter total price"))
if total_price > 20000:
    discount = total_price * .20
    print("discount will be",discount)
elif total_price <= 5000:
    discount = total_price * .02
    print("discount will be", discount)
else:
    print("No discount")

Enter total price 43432

discount will be 8686.4

Loops

In [40]:
for i in "labeeb":
    print(i)

l
a
b
e
e
b

In [42]:
t=1,2,3,4,5,6,7,8 #tuple

In [44]:
for i in t:
    print(i)

1
2
3
4
5
6
7
8

In [46]:
l=[1,2,3,4,5.5,5+7j,"labeeb"]

In [48]:
for i in l:
    print(i)

1
2
3
4
5.5
(5+7j)
labeeb

In [52]:
for i in l:
    print(type(i),i)

<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'int'> 4
<class 'float'> 5.5
<class 'complex'> (5+7j)
<class 'str'> labeeb

In [62]:
l=[1,2,4,5]

In [66]:
l1=[]

In [70]:
for i  in l:
    print(i+2)
    l1.append(i+2)

3
4
6
7

In [72]:
l1

[3, 4, 6, 7]

In [60]:
l

[1, 2, 4, 5, 4]

In [74]:
l = [2,3,4,5,"Labeeb", (4+6j), [55,66,77]]

In [76]:
#wap to display only integer values present inside list

In [80]:
for i in l:
    if type(i)== int:
        print(i)
    elif type(i)==list:
        for j in i:
            if type(j)==int:
                print(j)

2
3
4
5
55
66
77

In [82]:
t1=(1,2,3,(4,5, 'a'),9+12j, 'abc')

In [86]:
for i in t1:
    if type(i)==int:
        print(i)
    elif type(i)==tuple:
        for j in i:
            if type(j)==int:
                print(j)

1
2
3
4
5

In [88]:
#Range

In [90]:
range(4)

range(0, 4)

In [92]:
range(10)

range(0, 10)

In [94]:
l

[2, 3, 4, 5, 'Labeeb', (4+6j), [55, 66, 77]]

In [96]:
len(l)

7

In [98]:
for i in l:
    print(i)

2
3
4
5
Labeeb
(4+6j)
[55, 66, 77]

In [100]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6

In [102]:
for i in range(len(l)):
    print(l[i])

2
3
4
5
Labeeb
(4+6j)
[55, 66, 77]